<!DOCTYPE html>
  <head>
  <meta charset="utf-8">
  <div class="row top-buffer"></div>
  <title>Anbrew Fûgidaire Taplist</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="hero-unit text-center top-buffer">
        <h1>Anbrew tap list</h1>
        <p>The latest brews on tap, served from the Fûgidaire</p>
      </div>
      <div class="row top-buffer"></div>
      <div class="row text-center top-buffer">
      {% for beer in beers %}
        {% if loop.first %}
        <div class="col-lg-2 col-lg-offset-1">
        {% else %}
        <div class="col-lg-2">
        {% endif %}
        <h1 class="text-center">{{ beer.tap.name }}</h1>
        <hr /><h4>{{ beer.name }}</h4><hr />
        <h5>{{ beer.style }}</h5>
        <p>{{ beer.description|safe }}</p>
          <hr>
          <p>{{ beer.abv }}% ABV / {{ beer.ibu }} IBU</p>
        </div>
        {% endfor %}
      </div> <!-- row -->
    </div>

    <div class="text-center navbar navbar-inner navbar-fixed-bottom">
        <p class="muted credit">2013 - Andrew Watson</p>
    </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41261872-2', 'anbrew.ch');
    ga('send', 'pageview');

  </script>
</body></html>
